{% extends "layouts/base.html" %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-0">
    <div class="d-block mb-2 mb-md-0">
        <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
            <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                <li class="breadcrumb-item">
                    <a href="{% url 'home' %}">
                        <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                    </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Staff details</li>
            </ol>
        </nav>
        <h2 class="h4">Staff Details</h2>
    </div>
</div>

<div class="table-settings mb-2">
    <div class="row align-items-center justify-content-between">
        <div class="col col-md-6 col-lg-3 col-xl-3">
            <div class="input-group me-2 me-lg-3 fmxw-400">
                <input type="text" class="form-control" placeholder="Search by staff name" name="search_q" hx-get="{% url 'staff_search' %}" hx-trigger="keyup changed" hx-target="#results">
            </div>
        </div>
    </div>
</div>

<div id="results">
    <div class="{% if staff_details %} card card-body border-0 shadow table-wrapper table-responsive {% else %} visually-hidden {% endif %}">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="border-gray-200">Name</th>
                    <th class="border-gray-200">Username</th>						
                    <th class="border-gray-200">agency_name</th>
                    <th class="border-gray-200">Address</th>
                    <th class="border-gray-200">City</th>
                    <th class="border-gray-200">country</th>
                    <th class="border-gray-200">zipcode</th>
                </tr>
            </thead>
            <tbody>
                <!-- Item -->
                {% for staff_detail in staff_details %}
                <tr>
                    <td><a href="#" class="fw-bold">{{ staff_detail.user.name }}</a></td>
                    <td><span class="fw-normal">{{ staff_detail.user.username }}</span></td>
                    <td><span class="fw-normal">{{ staff_detail.agency.agency_name }}</span></td>
                    <td><span class="fw-bold">{{ staff_detail.address }}</span></td>                     
                    <td><span class="fw-normal"></span>{{ staff_detail.city }}</td>
                    <td><span class="fw-bold">{{ staff_detail.country }}</span></td>
                    <td><span class="fw-bold text-warning">{{ staff_detail.zipcode }}</span></td>
                </tr>
                {% endfor %}                           
            </tbody>
        </table>
    </div>
    <div>
        {% include 'home/staff_search_results.html' %}
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
