{% extends "layouts/base.html" %}
{% load custom_filters %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="row">
        <div class="col-12 col-xl-8">
            <div class="card card-body border-0 shadow mb-4">
                <h2 class="h5 mb-1">User Information</h2>
                <form>
                    <div class="row">
                        <div class="col-md-6 mb-1">
                            <div>
                                <label for="first_name">Name</label>
                                <input class="form-control" id="first_name" type="text" placeholder="Your Name" value="{{ request.user.name }}" readonly>
                            </div>
                        </div>
                        <div class="col-md-6 mb-1">
                            <div>
                                <label for="last_name">Username</label>
                                <input class="form-control" id="last_name" type="text" value="{{ request.user.username }}" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-1">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input class="form-control" id="email" type="email" value="{{ request.user.email }}" readonly>
                            </div>
                        </div>
                        <div class="col-md-6 mb-1">
                            <div class="form-group">
                                <label for="phone">Mobile Number</label>
                                <input class="form-control" id="phone" type="number" placeholder="Your Mobile Number" value="{{ request.user.mobile_number }}" readonly >
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 mb-1">
                            <div class="form-group">
                                <label for="address">Phone Number</label>
                                <input class="form-control" id="address" type="text" placeholder="Your Phone Number" value="{{ request.user.phone_number }}" readonly>
                            </div>
                        </div>
                        <div class="col-sm-4 mb-1">
                            <div class="form-group">
                                <label for="number">Role</label>
                                <input class="form-control" placeholder="Your User Role" value="{{ status_str | status:request.user.role }}" readonly>
                            </div>
                        </div>
                        <div class="col-sm-4 mb-1">
                            <div class="form-group">
                                <label for="number">is_company</label>
                                <input class="form-control" placeholder="Your User Role" value="{{ request.user.is_company }}" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 mb-1">
                            <div class="form-group">
                                <label for="city">is_user_activated</label>
                                <input class="form-control" value="{% if request.user.is_user_activated %} Yes {% else %} No {% endif %}" readonly>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="zip">is_mail_verified</label>
                                <input class="form-control" value="{% if request.user.is_mail_verified %} Yes {% else %} No {% endif %}" readonly>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="zip">is_phone_verified</label>
                                <input class="form-control" value="{% if request.user.is_phone_verified %} Yes {% else %} No {% endif %}" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-1">
                            <div>
                                <label for="first_name">organization</label>
                                <input class="form-control" id="first_name" type="text" placeholder="Your organization" value="{{ request.user.organization.orgranization_name }}" readonly>
                            </div>
                        </div>
                        <div class="col-md-6 mb-1">
                            <div>
                                <label for="last_name">agency</label>
                                <input class="form-control" id="last_name" type="text" placeholder="Your Agency" value="{{ request.user.agency.agency_name }}" readonly>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
